header {
  width: 100%;
  background-image: url(../images/teaser-bg.jpg);
  background-size: 1440px 600px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 600px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;

  text-shadow: 0 0 10px #00829b;

  & > div {
    width: 100%;
  }

  h1 {
    font-size: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
  }

  h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 700;
  }

  div div {
    text-shadow: 0 0 4px #00829b;
    padding-top: 50px;
    text-align: center;
    font-size: 16px;
    img {
      margin: 10px;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  header {
    background-image: url(../images/teaser-bg@2x.jpg);
  }
}

@media only screen and (max-width: 600px) {
  header {
    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 16px;
    }
  }
}
