<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{site.title}}</title>
    <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/index.css" />

    <meta property="fb:app_id" content="487094758334595">
    <meta property="og:url" content="https://www.opentrafficcount.de">
    <meta property="og:type" content="website">
    <meta property="og:title" content="OpenTrafficCount">
    <meta property="og:image" content="https://www.opentrafficcount.de/assets/images/social_media.jpg">

    <meta property="og:description" content="Datenschutzkonforme Verkehrszählung">
    <meta property="og:site_name" content="OpenTrafficCount">
    <meta property="article:author" content="Sebastian Meier">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@TSBBerlin">
    <meta name="twitter:creator" content="@seb_meier">
    <meta name="twitter:url" content="https://www.opentrafficcount.de">
    <meta name="twitter:title" content="OpenTrafficCount">
    <meta name="twitter:description" content="Datenschutzkonforme Verkehrszählung">
    <meta name="twitter:image" content="https://www.opentrafficcount.de/assets/images/social_media.jpg">
    <meta itemprop="name" content="OpenTrafficCount">
    <meta itemprop="description" content="Datenschutzkonforme Verkehrszählung">
    <meta itemprop="image" content="https://www.opentrafficcount.de/assets/images/social_media.jpg">
    <link rel="canonical" href="https://www.opentrafficcount.de">

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header>
      <div>
        <h1>OpenTrafficCount</h1>
        <h2>Datenschutzkonforme Verkehrszählung</h2>
        <div id="header-logos">
          Ein Forschungsprojekt im Rahmen des mFund (BMVI).<br />
          <a href="https://www.technologiestiftung-berlin.de">
            <img src="/assets/images/tsb-logo_white.png" width="252" srcset="/assets/images/tsb-logo_white@2x.png 2x" alt="Technologiestiftung Berlin" />
          </a>
          <a href="https://www.htw-berlin.de">
            <img src="/assets/images/htw-logo_white.png" width="197" srcset="/assets/images/htw-logo_white@2x.png 2x" alt="Hochschule für Technik und Wirtschaft Berlin" />
          </a>
        </div>
      </div>
    </header>
    <section class="section">
      <div class="container">
        {{content}}
      </div>
    </section>
    <footer>
      <p>
        <img src="/assets/images/bmvi-logo.jpg" width="107" srcset="/assets/images/bmvi-logo@2x.jpg 2x" alt="Gefördert durch das Bundesministerium für Verkehr und digitale Infrastruktur aufgrund eines Beschlusses des Deutschen Bundestages" />
        <img src="/assets/images/mfund-logo.jpg" width="171" srcset="/assets/images/mfund-logo@2x.jpg 2x" alt="mFund - Das Startkapital für die Mobilität 4.0" />
      </p>
      <p>Assoziierter Parnter<br /><img src="/assets/images/logo-movelab.jpg" width="345" srcset="/assets/images/logo-movelab@2x.jpg 2x" alt="move lab - a space of ideas" /></p>
      <p><a href="https://www.technologiestiftung-berlin.de/de/impressum/">Impressum</a> | <a href="https://www.technologiestiftung-berlin.de/de/datenschutz/">Datenschutz</a> | <span class="attribution">Photo im Header von <a href="https://www.flickr.com/photos/erik_91nl/19016860611">Erik</a> via Flickr.</span></p>
    </footer>
    <script src="/assets/js/index.bundle.js"></script>
  </body>
</html>
